{% extends "CurbaGardeningBundle::layout.html.twig" %}

{% block body_header %}
Main
{% endblock %}

{% block body_content %}
Main
{% endblock %}

{% block body_lateral %}
<br/>
<a href="{{ path('main') }}">Main</a>
{% endblock %}

{% block body_footer %}
Main
{% endblock %}
