{% extends "CurbaWeatherBundle::layout.html.twig" %}

{% block body %}
<h1>Station creation</h1>

<form action="{{ path('station_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('main') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}