<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Gardening mobile Alfa 2{% endblock %}</title>
    {% stylesheets '@CurbaGardeningBundle/Resources/public/css/mobile/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
</head>
<body>
    <div data-role="page">
        
        <div data-role="header">
            {% block body_header %}
                <h1>Urvangreen</h1>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="user_info" href="/logout?_format=mhtml">Logout</a>
                {% endif %}
            {% endblock %}
        </div> 
	
        <div data-role="content">
            {% block body_content %}
            {% endblock %}
        </div> 
	
        <div data-role="footer">
            {% block body_footer %}
            {% endblock %}
        </div> 

    </div>
</body>
</html>