{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets '@CurbaGardeningBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="container_16">
        {% block body_header %}{% endblock %}
    </div>

    <article id="content">
        <section id="principal" class="grid_12">
            {% block body_content %}{% endblock %}
        </section>
        <section id="lateral" class="grid_4">
            {% block body_lateral %}
            {% endblock %}
        </section>
    </article>

    <div class="container_16">
        {% block body_footer %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}